@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap');
:root{
  --font1:'Genos', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 900;
}


/* NavBar */
.navbar-brand {
  font-weight: 1000;
  font-size: 4vh;
  /* color:blueviolet; */
}

.navbar{
  margin: 0;
  padding: 0;
}
.nav-link{
 font-size: 3vh;
 font-weight: 900;
}
/* Home*/

/* Media Query */
